/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Indie Flower', cursive;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  height: 100%;
}
h1 {
  font-size: 8rem;
  font-weight: bold;
}
h2 {
  font-size: 4rem;
  font-weight: bold;
}
h3 {
  font-size: 3rem;
  font-weight: bold;
}
h6 {
  font-size: 2rem;
  font-weight: bold;
}
p {
  font-size: 2rem;
}
a {
  font-size: 2rem;
}
li {
  font-size: 2rem;
}
.container {
  width: 100%;
}
.navSection {
  display: flex;
  justify-content: flex-end;
  padding: 1%;
  font-size: 2rem;
  margin-bottom: 20px;
}
@media (max-width: 500px) {
  .navSection {
    justify-content: center;
  }
}
.navflex {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.navflex a {
  text-decoration: none;
  color: black;
}
@media (max-width: 500px) {
  .navflex a {
    border-bottom: 1px solid gray;
    text-align: center;
    font-size: 4rem;
  }
}
@media (max-width: 500px) {
  .navflex {
    flex-direction: column;
    width: 100%;
  }
}
#About {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: whitesmoke;
  padding: 0px 20px;
  padding-bottom: 50px;
  border-radius: 1%;
}
#About div {
  margin: 20px 0px 0px 0px;
}
@media (max-width: 500px) {
  #About img {
    text-align: center;
  }
}
.me img {
  width: 40%;
}
@media (max-width: 500px) {
  .me {
    text-align: center;
  }
}
.linebreak {
  border-bottom: 0.25rem solid lightgray;
  opacity: 0.8;
}
.linebreak h1 {
  padding-bottom: 20px;
}
.linebreak p {
  padding-bottom: 20px;
}
@media (max-width: 500px) {
  .linebreak {
    text-align: center;
  }
}
.midsection {
  display: flex;
  justify-content: space-between;
  padding: 3% 0%;
}
.midsection .text {
  width: 48%;
  padding: 20px;
}
.midsection .text h2 {
  margin-bottom: 20px;
}
.midsection ul {
  border: 1px solid lightgray;
  border-radius: 2%;
}
.midsection li {
  border-bottom: 1px solid lightgray;
  padding: 15px;
}
.botsection h3 {
  margin: 0px 20px;
}
.workhistory {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.whiterow {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid lightgray;
  padding: 20px;
}
.whiterow p {
  width: 25%;
}
.whiterow h6 {
  width: 25%;
}
@media (max-width: 500px) {
  .whiterow {
    padding: 0px;
  }
  .whiterow h6 {
    font-size: 1.5rem;
    width: 100%;
  }
  .whiterow p {
    font-size: 1.5rem;
    width: 100%;
  }
}
.bluerow {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  border-top: 1px solid lightgray;
  padding: 20px;
}
.bluerow p {
  width: 25%;
}
.bluerow h6 {
  width: 25%;
  font-weight: bold;
}
@media (max-width: 500px) {
  .bluerow {
    padding: 0px;
  }
  .bluerow h6 {
    font-size: 1.5rem;
    width: 100%;
  }
  .bluerow p {
    font-size: 1.5rem;
    width: 100%;
  }
}
.btn {
  text-decoration: none;
  color: white;
  border: 1px solid gray;
  background-color: gray;
  padding: 5px;
}
.footer {
  display: flex;
  justify-content: center;
  color: white;
  background-color: gray;
  padding: 20px;
  margin-top: 20px;
}
